/**
 * @Author: Mukhil Sundararaj
 * @Date:   2021-09-21 10:16:54
 * @Last Modified by:   Mukhil Sundararaj
 * @Last Modified time: 2021-09-23 08:52:47
 */
.sidebar {
  grid-column: 7 / center-end;

  &__content {
    padding: 3rem;
    position: fixed;
    width: 360px;
    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  @include respond(tab-port) {
    display: none;
  }
}
