/**
 * @Author: Mukhil Sundararaj
 * @Date:   2021-09-21 10:16:54
 * @Last Modified by:   Mukhil Sundararaj
 * @Last Modified time: 2021-09-23 08:52:03
 */
.form-card {
  padding: 2rem 4rem;
  text-align: center;
  & > :not(:first-child) {
    margin-top: 1rem;
  }

  &__form {
    & > * {
      width: 100%;
    }
  }

  @include respond(phone) {
    padding: 2rem 0;
  }
}
