/**
 * @Author: Mukhil Sundararaj
 * @Date:   2021-09-21 10:16:54
 * @Last Modified by:   Mukhil Sundararaj
 * @Last Modified time: 2021-09-23 08:52:37
 */
.user-card {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;

  &__details {
    text-align: left;
    margin-left: 1rem;
    line-height: 15px;
    max-width: 70%;
  }

  & > :nth-child(3) {
    margin-left: auto;
  }
}
